@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

body {
    font-family: Arial, sans-serif;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

table {
    border-collapse: separate;
    width: 50%; /* Réduire la taille du calendrier */
    margin: 0 auto; /* Centrer le calendrier */
    border-radius: 12px;
    overflow: hidden;
}

th, td {
    border: 1px solid blue;
    text-align: center;
    padding: 8px;
}

th {
    background-color: #f2f2f2;
}

.today {
    background-color: #d3d3d3; /* Couleur gris clair pour la date du jour */
}

.clickable {
    cursor: pointer;
}

.selected {
    background-color: #add8e6;
}

.button {
    font-family: 'Lobster', cursive;
    border: 4px solid blue;
    background-color: #5DADE2;
    color: white;
    padding: 6px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 11px;
    margin: 4px 1px;
    cursor: pointer;
    border-radius: 12px;
}

.button:hover {
    background-color: #5DADE2;
}

#monthYear {
    font-weight: bold;
}

th:first-child {
    border-top-left-radius: 12px;
}

th:last-child {
    border-top-right-radius: 12px;
}

td:first-child:last-child {
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}

div {
    margin-bottom: 20px;
}

/* Style pour le formulaire de nouvel événement */
.form-container {
    text-align: center;
    margin: 20px auto;
    width: 50%;
}

.form-container input {
    display: block;
    margin: 10px auto;
    padding: 8px;
    width: 60%;
}

.form-container h2 {
    text-align: center;
}

/* Styles pour la nouvelle disposition */
.navigation-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

#selectedDateDisplay {
    margin-left: 20px;
    font-weight: bold;
}

.calendar-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 15px; /* Ajouter un espace entre le calendrier et le formulaire */
}

#calendarTable {
    width: 40%; /* Réduire la taille du calendrier */
}

.form-container {
    width: 35%; /* Ajuster la taille du formulaire */
    margin-left: 20px;
}
