@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

/* Style global du corps */
body {
    font-family: Arial, sans-serif; /* Police de caractères */
}

/* Style du titre principal */
h1 {
    text-align: center; /* Centre le texte */
    margin-bottom: 20px; /* Ajoute un espace en bas */
}

/* Styles généraux */
.main-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    align-items: flex-start;
    padding: 20px;
}

.navigation-container, .calendar-container, .form-container {
    width: 100%;
    max-width: 600px; /* Limite la largeur pour une meilleure lisibilité sur les grands écrans */
    margin-bottom: 20px;
}

.table-container {
    overflow-x: auto; /* Permet le défilement horizontal */
    overflow-y: visible; /* Permet de voir tout le contenu verticalement */
    max-height: none; /* Permet de ne pas limiter la hauteur */
    width: 100%; /* Prend toute la largeur disponible */
    margin-top: 20px; /* Espace avec les autres éléments */
    white-space: nowrap; /* Empêche le retour à la ligne dans le tableau */
}

#editable-table {
    min-width: 1000px; /* Force une largeur minimale pour créer le défilement horizontal */
    width: max-content; /* Ajuste la largeur du tableau au contenu */
    border-collapse: collapse; /* Garde la structure du tableau compacte */
    table-layout: auto; /* Ajuste automatiquement les colonnes */
}



#selectedDateDisplay {
    font-size: 1.5em; /* Ajustez la taille selon vos besoins */
    font-weight: bold;
    margin-bottom: 10px;
}

#successMessage {
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    display: none; /* Caché par défaut */
}

.hidden {
    display: none;
}

.visible {
    display: block;
}

.editable-container table, .form-container {
    width: 100%;
}

.form-container input, .form-container select, .form-container button {
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    box-sizing: border-box;
}

/* Styles pour les écrans plus petits */
@media (max-width: 768px) {
    .main-container {
        padding: 10px;
    }

    .navigation-container, .calendar-container, .editable-container, .form-container {
        max-width: 100%;
    }

    .form-container input, .form-container select, .form-container button {
        padding: 8px;
    }
}

/* Style des boutons de navigation */
.navigation-container .button {
    margin: 0 10px; /* Ajoute un espace entre les boutons et le titre */
    font-family: 'Lobster', cursive; /* Police de caractères */
    border: 4px solid blue; /* Bordure */
    background-color: #5DADE2; /* Couleur de fond */
    color: white; /* Couleur du texte */
    padding: 6px 10px; /* Ajoute un espace intérieur */
    text-align: center; /* Centre le texte */
    text-decoration: none; /* Supprime la décoration du texte */
    display: inline-block; /* Affiche en ligne */
    font-size: 11px; /* Taille de la police */
    cursor: pointer; /* Change le curseur au survol */
    border-radius: 12px; /* Bordure arrondie */
}

/* Style des boutons de navigation au survol */
.navigation-container .button:hover {
    background-color: #5DADE2; /* Change la couleur de fond au survol */
}

/* Style du titre du mois et de l'année */
#monthYear {
    flex-grow: 1; /* Permet au titre de prendre tout l'espace disponible */
    text-align: center; /* Centre le texte */
    font-weight: bold; /* Met le texte en gras */
}

/* Style de la table du calendrier */
#calendarTable {
    width: 100%; /* Prend toute la largeur disponible */
    border-collapse: separate; /* Sépare les bordures des cellules */
    border-radius: 12px; /* Bordure arrondie */
    overflow: hidden; /* Masque le débordement */
}

/* Style des en-têtes de la table */
#calendarTable th {
    background-color: #f2f2f2; /* Couleur de fond des en-têtes */
    padding: 10px; /* Ajoute un espace intérieur */
    text-align: center; /* Centre le texte */
    border: 1px solid blue; /* Bordure */
}

/* Style des cellules de la table */
#calendarTable td {
    padding: 10px; /* Ajoute un espace intérieur */
    text-align: center; /* Centre le texte */
    border: 1px solid blue; /* Bordure */
}


/* Style de la table du editable */
#editable-table {
    width: 100%; /* Prend toute la largeur disponible */
    border-collapse: separate; /* Sépare les bordures des cellules */
    border-radius: 12px; /* Bordure arrondie */
    overflow: hidden; /* Masque le débordement */
}

/* Style des en-têtes du editable */
#editable-table th {
    background-color: #f2f2f2; /* Couleur de fond des en-têtes */
    padding: 10px; /* Ajoute un espace intérieur */
    text-align: center; /* Centre le texte */
    border: 1px solid blue; /* Bordure */
}

/* Style des cellules du editable */
#editable-table td {
    padding: 10px; /* Ajoute un espace intérieur */
    text-align: center; /* Centre le texte */
    border: 1px solid blue; /* Bordure */
}

/* Style pour la date du jour */
.today {
    background-color: #d3d3d3; /* Couleur gris clair pour la date du jour */
}

/* Style pour les cellules cliquables */
.clickable {
    cursor: pointer; /* Change le curseur au survol */
}

/* Style pour la cellule sélectionnée */
.selected {
    background-color: #add8e6; /* Couleur bleu clair pour la sélection */
}

/* Style des champs de formulaire */
.form-container input {
    margin-bottom: 8px; /* Ajoute un espace en bas */
    padding: 4px; /* Ajoute un espace intérieur */
    width: 100%; /* Prend toute la largeur disponible */
}

/* Style du bouton d'ajout d'événement */
.form-container .button {
    padding: 10px 20px; /* Ajoute un espace intérieur */
    background-color: #4CAF50; /* Couleur de fond */
    color: white; /* Couleur du texte */
    border: none; /* Supprime la bordure */
    cursor: pointer; /* Change le curseur au survol */
}

/* Style du bouton d'ajout d'événement au survol */
.form-container .button:hover {
    background-color: #45a049; /* Change la couleur de fond au survol */
}

/* Style des coins arrondis pour les en-têtes de la table */
th:first-child {
    border-top-left-radius: 12px; /* Bordure arrondie en haut à gauche */
}

th:last-child {
    border-top-right-radius: 12px; /* Bordure arrondie en haut à droite */
}

/* Style des coins arrondis pour les cellules de la table */
td:first-child:last-child {
    border-bottom-left-radius: 12px; /* Bordure arrondie en bas à gauche */
    border-bottom-right-radius: 12px; /* Bordure arrondie en bas à droite */
}

/* Style global pour les marges des div */
div {
    margin-bottom: 10px; /* Ajoute un espace en bas */
}

.popup {
    display: none; /* Masqué par défaut */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4); /* Couleur de fond avec transparence */
}

.popup-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% du haut et centré */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Peut être ajusté selon vos besoins */
    text-align: center;
    border-radius: 12px;
}

.button {
    margin: 5px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.apply-button {
    background-color: #4CAF50; /* Vert */
    color: white;
}

.cancel-button {
    background-color: #f44336; /* Rouge */
    color: white;
}

.whatsapp-button {
    background-color: #25D366; /* Vert WhatsApp */
    color: white;
}

.checkbox-container {
    display: flex;
    flex-direction: column;
    font-size: 0.8em; /* Réduire la taille de la police */
}

.checkbox-container input[type="checkbox"] {
    margin-right: 5px;
}

.factura-link {
    cursor: pointer;
    color: blue;
    text-decoration: underline;
}

.checkbox-container label {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}

.modal-content {
    position: relative;
    margin: 5% auto;
    padding: 0;
    width: 80%;
    height: 80%;
    background-color: white;
}

.close {
    position: absolute;
    top: 10px;
    right: 25px;
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}
